body {
    background: #f2f2f2;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #4cd137;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 1.2rem;
    transition: 1s;
}

.expandir {
    transform: scale(1.5);
    background: #00a8ff;
}

/* MODO ESCURO */
.dark-mode {
    background: #1e1e1e;
    color: white;
}

.dark-mode .card {
    background: #2c2c2c;
    color: white;
}

/* Botão Sobre no modo escuro */
.dark-mode .btn-sobre {
    border-color: white;
    color: white;
}

.dark-mode .btn-sobre:hover {
    background-color: white;
    color: black;
}

/* Cores da respiração */
.inspirar {
    background: #00a8ff;
}

.segurar {
    background: #fbc531;
}

.expirar {
    background: #e84118;
}

/* BOTÃO ATIVO */
.btn-respiracao.ativo {
    background-color: #2ecc71 !important;
    border-color: #2ecc71 !important;
    color: white;
}

/* Dark mode compatível */
.dark-mode .btn-respiracao.ativo {
    background-color: #00a8ff !important;
    border-color: #00a8ff !important;
}